<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="icon" type="image/png" href="./crf.jpg">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./dist/img-previewer.css">
</head>

<body>
    <div id="app">
        <h2 class="title">{{infos.title}}</h2>
        <p class="description">{{infos.description}}</p>
        <div id="gallery">
            <section v-for="(items, title) in albums" v-bind:name="title">
                <h3 class="album-name">{{title}}</h3>
                <div class="album-content">
                    <div class="album-photo" v-for="item in items">
                        <!-- <a v-bind:href="item.src" target="_blank"> -->
                            <img class="photo" v-bind:src="item.src">
                        <!-- </a> -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

<script type="module">
    import json from './config.json' assert { type: 'json' };
    import info from './info.json' assert { type: 'json' };
    const app = new Vue({
        el: '#app',
        data: {
            albums: json,
            infos: info
        },
        mounted() {
            document.title = info.name;
        },
    });
</script>
<script src="./dist/img-previewer.js"></script>
<script>
    window.onload = function(){
        const imgPreviewer = new ImgPreviewer('#app', {
            scrollbar: true
        });
    }
</script>

</html>